<p>header works!</p>
<header class="header">
  <div class="header-left">

  </div>

  <div class="header-center">
    <h2 class="page-title">Market Dashboard</h2>
  </div>

  <div class="header-right">
    <div class="time">{{ currentTime() }}</div>
    <div class="user-info">
      <span class="avatar">👤</span>
      <!-- <span>    <button class="menu-btn" (click)="onToggleSidebar()" title="Toggle sidebar">
      ☰ ☰ ☰ ☰ ☰
    </button></span> -->
      <span class="username">{{ currentUser() }}</span>
    </div>
  </div>
</header>
